<div class="menu" onclick="openSidebar()">☰</div>

<div class="sidebar" id="sidebar">
  <div class="list">
    <a href="/instance">Instance</a>
    <a href="/zone">Available Zone</a>
    <a href="/condor">Condor</a>
    <a href="/dashboard">Dashboard</a>
  </div>
  <div class="aws_link">
    <a target="_blank" href="https://signin.aws.amazon.com/signin?client_id=arn%3Aaws%3Asignin%3A%3A%3Aconsole%2Fcanvas&redirect_uri=https%3A%2F%2Fconsole.aws.amazon.com%2Fconsole%2Fhome%3FhashArgs%3D%2523%26isauthcode%3Dtrue%26nc2%3Dh_ct%26oauthStart%3D1732598033521%26src%3Dheader-signin%26state%3DhashArgsFromTB_eu-north-1_be06ffcf5d4e9101&page=resolve&code_challenge=uXcK4iVp5B574Tkfud7ILP52k33cN_5iCcM548Yg9ZY&code_challenge_method=SHA-256&backwards_compatible=true">AWS Console</a>
  </div>
</div>
<script>
  function openSidebar() {
    document.getElementById("sidebar").classList.add("active");
  }
  function closeSidebar() {
    document.getElementById("sidebar").classList.remove("active");
  }

  document.addEventListener("click", function(event) {
    const sidebar = document.getElementById("sidebar");
    const menu = document.querySelector(".menu");

    if (!sidebar.contains(event.target) && event.target !== menu) {
      sidebar.classList.remove("active");
    }
  });
</script>