<div class="menu" onclick="openSidebar()">☰</div>

<div class="sidebar" id="sidebar">
  <div class="list">
    <a href="/instance">Instance</a>
    <a href="/zone">Available Zone</a>
    <a href="/condor">Condor</a>
    <a href="/dashboard">Dashboard</a>
  </div>
</div>
<script>
  function openSidebar() {
    document.getElementById("sidebar").classList.add("active");
  }
  function closeSidebar() {
    document.getElementById("sidebar").classList.remove("active");
  }

  document.addEventListener("click", function(event) {
    const sidebar = document.getElementById("sidebar");
    const menu = document.querySelector(".menu");

    if (!sidebar.contains(event.target) && event.target !== menu) {
      sidebar.classList.remove("active");
    }
  });
</script>